version: '3.9'

services:
  app:
    container_name: daily-tools-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - '3000:3000'
    environment:
      # Use the postgres service name as the host
      - DATABASE_URL=postgresql://daily_tools_user:garlandqian123@postgres:5432/daily_tools
    depends_on:
      - postgres
    networks:
      - daily-network

  postgres:
    image: postgres:18-alpine
    container_name: daily-tools-postgres
    restart: always
    environment:
      POSTGRES_USER: daily_tools_user
      POSTGRES_PASSWORD: garlandqian123
      POSTGRES_DB: daily_tools
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - daily-network

networks:
  daily-network:
    driver: bridge

volumes:
  postgres-data:
